<div class="modal-header">
    <h2>Confirmación</h2>
    <button mat-icon-button class="close-btn" (click)="dialogRef.close()" *ngIf="soloInformativo">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <p>{{ data.mensaje }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end" *ngIf="!soloInformativo">
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-button color="warn" (click)="confirmar()">Eliminar</button>
</mat-dialog-actions>