<div class="container" *ngIf="noticia">
    <mat-toolbar color="warn" class="custom-toolbar">
        <button mat-icon-button (click)="volverAlListado()">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <span class="titulo-toolbar">{{ noticia.titulo }}</span>
        <span class="spacer"></span>

        <ng-container *ngIf="!esPantallaChica">
            <button mat-stroked-button color="warn" class="toolbar-btn" (click)="editarNoticia()">Editar
                Noticia</button>
            <button mat-stroked-button color="warn" class="toolbar-btn" (click)="eliminarNoticia()">Eliminar
                Noticia</button>
        </ng-container>

        <ng-container *ngIf="esPantallaChica">
            <button mat-icon-button class="icono-blanco" (click)="editarNoticia()" aria-label="Editar">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="icono-blanco" (click)="eliminarNoticia()" aria-label="Eliminar">
                <mat-icon>delete</mat-icon>
            </button>
        </ng-container>
    </mat-toolbar>

    <mat-card>
        <mat-card-title>{{ noticia.titulo }}</mat-card-title>
        <img [src]="noticia.imagen" alt="Imagen"
            style="width: 100%; max-height: 300px; object-fit: cover; margin-bottom: 16px;" />
        <mat-card-subtitle>
            {{ noticia.fecha | date: 'dd/MM/yyyy' }} - {{ noticia.autor }}
        </mat-card-subtitle>
        <mat-card-content>
            <p>{{ noticia.contenido }}</p>
        </mat-card-content>
    </mat-card>
</div>