.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 15px;
}

.custom-toolbar {
    color: white;
}

.titulo-toolbar {
    font-weight: 500;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.spacer {
    flex: 1 1 auto;
}

::ng-deep .mat-stroked-button.mat-warn {
    background-color: white;
    border-color: #d32f2f;
    color: #d32f2f;
}

::ng-deep .mat-stroked-button.mat-warn:hover {
    background-color: #ffe5e5;
}